/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,*::before,*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%;
    background: #F5F2F2;
    margin: 0;
    line-height: 1.5;
    color: #373030;
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

p {
    max-width: 500px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.4rem;
}

@media (min-width: 320px) {

h1 {
    font-size: 1.8rem;
}

.logo {
    width: 52px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container,.container-header,header {
    max-width: 1220px;
}

header {
    background: url(assets/hero.jpg);
    background-size: cover;
    color: #FFF;
}
.container-header {
    background: #242424bb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1em;
}

.title {
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-top: -.2em;
    margin-bottom: .1em;
    font-weight: 900;
}
.subtitle {
    font-size: 1rem;
    text-transform: capitalize;
}

nav {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin-top: 5em;
}

.nav{ 
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
    background: #A46521;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .2em 0;
    font-weight: bold;
}

.nav__item {
    margin-right: 2.5em;
}

.nav__item:last-child{
    margin-right: 0;
}

.nav__link {
    color: #ffffffda;
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link::after {
    content: " ";
    display: block;
    background-color: #ffffffda;
    height: .2rem;
    width: 0;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.nav__link:hover::after,.nav__link:focus::after {
    width: 100%;
}

.contact-number {
    display: block;
    font-size: .9rem;
    text-align: center;
    padding-top: .1em;
}

.btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1.5em;
    padding: 1em 2em;
    font-size: 1rem;
    background: #ff8400dc;
    border-radius: 3px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.btn:hover,.btn:focus {
    -webkit-transform: scale(1.1) translateY(-5px);
        -ms-transform: scale(1.1) translateY(-5px);
            transform: scale(1.1) translateY(-5px);
    background: #ff8400;
}

/********** main content *******/

.section {
    margin-top: 2em;

}

.section__title {
    text-align: center;
    color: #914512;
    text-transform: capitalize;
    font-family: 'Lalezar', cursive;
    font-weight: 400;

}

.section__text {
    padding: .3em .5em 1em .5em;
    color: #373030;
    font-family: 'Roboto Condensed', sans-serif;
}

.testamonial__item {
    position: relative;
    /* max-width: 400px; */
    margin: 0 auto;
    text-align: center;
}

.client-img {
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 1.5em;
}

.next-arrow-right {
    fill: #333333;
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    top: 1rem;
    right: .8rem;
}

.client-name {
    text-align: center;
    color: #914512;
    padding:  .4em .5em 0 .5em;
    text-transform: capitalize;
}



footer {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6rem;
    background: #333333;
    color: #ffffffda;
}

footer p {
    font-size: 1.2rem;
}


}

@media (min-width: 480px) {
    img {
        margin: 0 auto;
    }
}

@media (min-width: 650px) {
    .logo {
        width: 100px;
    }
    .title {
        margin-top: -.6em;
    }

    .subtitle {
        margin-top: -.2em;
    }
    h1 {
        font-size: 2.4rem;
    }
    p{
        font-size: 1.6rem;
    }

}

@media (min-width: 900px) {
    .logo {
        width: 120px;
    }

    h1 {
        font-size: 2.6rem;
    }
    p{
        font-size: 1.6rem;
    }

    header {
        margin: 0 auto;
    }

    .nav__item {
        margin-right: 3.5em;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .container--coffee div {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .container--coffee img {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .container--testamonials {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .container--testamonials h1 {
        margin-bottom: 1em;
    }

    .next-arrow-right {
        top: 3.5rem;
        right: -10rem;
    }

    .testamonial__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 70%;
        padding: 2.5em;
        margin: 2.5em;
        background: #ffffffec;
        -webkit-box-shadow: .2px 1.5px 25px #808080c7;
                box-shadow: .2px 1.5px 25px #808080c7;
        -webkit-transform: skewY(1.5deg);
            -ms-transform: skewY(1.5deg);
                transform: skewY(1.5deg);
        border-radius: 3px;
    }

    .testamonial__item  > *{
        -webkit-transform: skewY(-1.5deg);
            -ms-transform: skewY(-1.5deg);
                transform: skewY(-1.5deg);
    }



    .client-name {
        text-align: left;
        margin-left: -.2em;
    }

    .client-img {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin: 3em .5em;
    }


    
    .testamonial__text {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        text-align: left;
    }
    .testamonial__text:last-child{
        margin-left: 2rem;
    }


    .section {
        margin: 5em 0 15em;
    }

    .section__title {
        text-align: left;
        margin-bottom: .2em;
    }

    .section__text {
        padding: 0;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    }

    .section__img {
        width: 40%;
        margin: 0;
    }


}